{{#unless deleted}}
  <li data-ix = "{{@key}}" class="{{#if complete}} done {{/if}}">
    <span class='handle'>
      <i class='glyphicon glyphicon-th'></i>
    </span>

    <input type='checkbox' value='' class="todo-task-check" data-cmd="check-task" {{#if complete}} checked {{/if}} />
    <span class='text task-text'>
      {{task}} 
    </span>
    <div class='tools'>
      <i class='glyphicon glyphicon-trash todo-task-delete' data-cmd="delete-task"></i>
    </div>
  </li>
{{/unless}}