<ul class="nav navbar-nav">
  <li class="dropdown todo-dropdown">
    <a
      href="#"
      class="dropdown-toggle todo-dropdown-content"
      aria-expanded="true"
    >
      <div class="visible-xs">
        Todo List
        <i class="glyphicon glyphicon-list">
          <span class="label-tasks label-info">
            /
          </span>
        </i>
        <b class="caret"></b>
      </div>
      <div class="hidden-xs">
        <i class="glyphicon glyphicon-list">
          <span class="label-tasks label-info">
            /
          </span>
        </i>
        <b class="caret"></b>
      </div>
    </a>
    <div class="dropdown-menu todos-content" style="min-width: 450px;">
      Loading Content...
    </div>
  </li>
</ul>