/* Widget: TODO LIST */
.todo-list {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: auto;
}

.todo-list>li {
  border-radius: 2px;
  padding: 10px;
  background: #f4f4f4;
  margin-bottom: 2px;
  border-left: 2px solid #e6e7e8;
  color: #444;
}

.todo-list>li:last-of-type {
  margin-bottom: 0;
}

.todo-list>li>input[type='checkbox'] {
  margin: 0 10px 0 5px;
}

.todo-list>li .text {
  display: inline-block;
  margin-left: 5px;
  font-weight: 600;
  width: 75%;
}

.todo-list>li .label {
  margin-left: 10px;
  font-size: 9px;
}

.todo-list>li .tools {
  display: none;
  float: right;
  color: #dd4b39;
}

.todo-list>li .tools>.fa,
.todo-list>li .tools>.glyphicon,
.todo-list>li .tools>.ion {
  margin-right: 5px;
  cursor: pointer;
}

.todo-list>li:hover .tools {
  display: inline-block;
}

.todo-list>li.done {
  color: #999;
}

.todo-list>li.done .text {
  text-decoration: line-through;
  font-weight: 500;
}

.todo-list>li.done .label {
  background: #d2d6de !important;
}

.todo-list .danger {
  border-left-color: #dd4b39;
}

.todo-list .warning {
  border-left-color: #f39c12;
}

.todo-list .info {
  border-left-color: #00c0ef;
}

.todo-list .success {
  border-left-color: #00a65a;
}

.todo-list .primary {
  border-left-color: #3c8dbc;
}

.todo-list .handle {
  display: inline-block;
  cursor: move;
  margin: 0 5px;
}

/* nav.navbar.navbar-static-top div.navbar-custom-menu ul.nav.navbar-nav li.dropdown.tasks-menu a.dropdown-toggle span.label.label-danger
  ul.nav.navbar-nav.navbar-right.hidden-xs li.dropdown.todo-dropdown a.dropdown-toggle.todo-dropdown-content i.glyphicon.glyphicon-list span.label-tasks.label-info */
.label-tasks {
  position: absolute;
  top: -9px;
  /* right: 7px; */
  text-align: center;
  font-size: 9px;
  padding: 2px 3px;
  line-height: 0.9;
  border-radius: 3px;
}

.input-edit-task {
  color: #333;
  width: 100%;
}